.homeBackground {
  width: 100%;
  height: 400px;
  background-image: url("../assets/Daniel_Head.png");
  background-size: cover;
  background-position: center;
}

.test {
  display: flex;
  justify-content: space-between;
  border: 1px solid wheat;
  border-radius: 7;
}

.one {
  padding: 2em;
  border: 1px solid wheat;
  width: 60%;
}

.two {
  padding: 2em;
  border: 1px solid wheat;
  width: 200px;
}
